.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #1e1e2f;
  color: white;
}
.menu-btn {
  margin-right: 1rem;
  font-size: 1.4rem;
  background: none;
  border: none;
  color: rgb(20, 19, 19);
  cursor: pointer;
}
// .title {
//   width: 100%;
//   height: 280px; // adjust as needed
//   background-image: url('/src/app/shared/images/logo.png');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: rgb(7, 7, 7);
//   text-align: center;
//   padding: 2rem;
// }

// .spacer {
//   flex: 1;
// }
