.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #1e1e2f;
  color: white;
}
.menu-btn {
  margin-right: 1rem;
  font-size: 1.4rem;
  background: none;
  border: none;
  color: rgb(20, 19, 19);
  cursor: pointer;
}
.spacer {
  flex: 1;
}
