.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #1e1e2f;
  color: rgb(17, 16, 16);
  box-shadow: 0 2px 8px rgba(8, 4, 4, 0.37);
}

.menu-btn {
  margin-right: 1rem;
  font-size: 1.4rem;
  background: none;
  border: none;
  color: rgb(247, 244, 244);
  cursor: pointer;
}

.header-btn {
  margin-left: auto; /* push to the end */
  background: none;
  border: none;
  color: rgb(247, 244, 244);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background 0.2s;
  position: relative;
  z-index: 11; /* above shadow if needed */
}

.header-btn:hover {
  background: rgb(88, 87, 87);
}
.menu-btn:hover {
  background: rgb(88, 87, 87);
}

.title {
  flex: 1;
  text-align: center;
  padding: 0 1rem;
  color: rgb(247, 244, 244);
}

.title h1 {
  margin: 0;
  font-size: 1.5rem;
}

.title p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.8;
}
